{
  presets: [
    ["@babel/env", {
      "targets": {
        "browsers": ["ie >= 9"]
      },
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": "3"
    }]
  ],
  plugins: [
    "webpack-async-module-name",
    "@babel/plugin-transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}