{
  presets: [
    ["@babel/env", {
      "targets": {
        "browsers": ["ie >= 9"]
      },
      "modules": false,
      "useBuiltIns": "usage"
    }]
  ],
  plugins: [
    "@babel/plugin-transform-runtime"
  ]
}